/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 oct. 2020, 17:05:10
    Author     : LordLalo
*/

/*start --------------------------+Paleta general de colores+---------------------------------- start*/
*{
    -fx-backGraundColor: linear-gradient(from 25% 25% to 100% 100%, #ffffff, #A5D6A7);
    -fx-menu-superior-backGraundColor: linear-gradient(from 25% 25% to 30% 100%, #ffffff, #C5E1A5);
    -fx-advance-color:linear-gradient(#00BCD4  0%,#1565C0 100%);
    -fx-advance-hover-color: #0D47A1;
    -fx-dangerousButton-color: linear-gradient(#D84315 0%,#b71c1c 100%);
    -fx-dangerousButton-hover-color:#701006;
    -fx-dangerousButton-dissble-color:#BFA29F;
    -fx-tittle-color: #2E7D32;
    -fx-tittle-dark-color:#435948;
    -fx-semitrasparent-glass-color:#75757550;
    -fx-fly-module-separator-color:#42424270;
}
/*end ----------------------------*Paleta general de colores*----------------------------------- end*/

#dangerous-button-efect{
    -fx-background-color: -fx-dangerousButton-color;
}
#dangerous-button-efect:hover{
    -fx-background-color: -fx-dangerousButton-hover-color;
}
#dangerous-button-efect:disabled{
    -fx-background-color: -fx-dangerousButton-dissble-color;
    -fx-border-style: dotted , dashed  , dashed  , dashed;
    -fx-border-radius: 3;
    -fx-border-color:#607D8B;
    -fx-text-fill:  #403A38;
}

#advance-button-efect{
    -fx-background-color: -fx-advance-color;
}
#advance-button-efect:hover{
    -fx-background-color: -fx-advance-hover-color;
}

/* start***********************************MENU PRINCIPAL****************************************start */
#reportes{
    -fx-graphic: url(../pics/reports.png); 
}

#registration{
    -fx-graphic: url(../pics/registration.png); 
}

#paramSistem{
    -fx-graphic: url(../pics/gear.png); 
}

#flightCotrol{
    -fx-graphic: url(../pics/flightControl.png); 
}

#notificaciones{
    -fx-graphic: url(../pics/notification.png); 
}

#servicios{
    -fx-graphic: url(../pics/services.png); 
}

#reparacionesYGastos{
    -fx-graphic: url(../pics/repairs.png); 
}

#bitacoras{
    -fx-graphic: url(../pics/bitacora.png); 
}
/* end ***********************************MENU PRINCIPAL****************************************end */



.loginBackGraund{
    -fx-background-color: -fx-backGraundColor;
    -fx-background-image:url("../pics/LoginBack.jpg");
    -fx-background-size:100% auto;
    -fx-background-position: center;
}

.jfx-button{
    -fx-background-color: linear-gradient(#689F38 0%,#2E7D32 100%);
    -fx-font-size: 12px;
    -fx-border-radius: 0.2;
    -jfx-button-type:RAISED;
    -fx-text-fill:  #E0E0E0;
}


.jfx-button:hover{
    -fx-background-color: linear-gradient(#212121 0%, #37474F 100%);
}
.jfx-button:disabled{
    -fx-background-color: linear-gradient(#212121 0%, #37474F 100%);
    -fx-opacity: 1;
}
.jfx-text-field,
.jfx-password-field,
.jfx-text-area{
    -fx-prompt-text-fill: #07341b;
    -jfx-focus-color: #0e64b7;
    -jfx-unfocus-color: #0e64b7;
    -fx-text-fill:  #07341b;
}
.label{
    -fx-text-fill: #388E3C;
}

/*start *********************************+MENÚ SUPERIOR+*************************************** start*/
.menu-superior{
    -fx-background-color: -fx-menu-superior-backGraundColor;
    -fx-effect: dropshadow(three-pass-box, #37474F, 10, 0, 0, 0);
}

.menu-superior-userIcon{
    -fx-image:url("../pics/userIcon.png");
}

.menu-superior-tittle{
    -fx-text-fill: -fx-tittle-color;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
}

.menu-superior-subtittle{
    -fx-text-fill: -fx-tittle-color;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
/*end *********************************-MENÚ SUPERIOR-**************************************** end*/





/*start *********************************+MOODULO DE VUELOS+*************************************** start*/
.air-module-tittle{
    -fx-text-fill: -fx-tittle-color;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.air-module-subtittle{
    -fx-text-fill: -fx-tittle-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.air-module-dark-subtittle{
    -fx-text-fill: -fx-tittle-dark-color;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.air-module-fondo{
    -fx-background-color: -fx-backGraundColor;
}

.air-glass-efect-color{
    -fx-background-color:-fx-semitrasparent-glass-color;
    -fx-background-radius:10px;
}

.air-searchSeparator *.line{
    -fx-border-color: -fx-fly-module-separator-color;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}
/*end *********************************-MOODULO DE VUELOS-**************************************** end*/


